@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-jauges {
  display: flex;
  justify-content: center;
  margin: 20px 30px 15px 30px;
  position: relative;
  width: 80%;
  height: 30px;
}
.container-jauges .fond-jauge {
  position: absolute;
  z-index: 0;
  background-color: #0E3E3E;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.container-jauges .fond-jauge .pourcentage {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  margin: 0;
  font-size: 15px;
}
.container-jauges .jauge {
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: white;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.container-jauges .jauge .nbr-jauge {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-style: italic;
  font-size: 15px;
  font-weight: 600;
  color: #0E3E3E;
}

.container-text-jauge {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}
.container-text-jauge .check-icone {
  margin-right: 10px;
}
.container-text-jauge .text-jauge {
  color: #0E3E3E;
  font-weight: 500;
  font-size: 15px;
}

.container-launch-identify .btn-launch {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 5px;
  color: #0E3E3E;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.container-launch-identify .btn-signup {
  background-color: #DFF7E2;
}
.container-launch-identify .btn-login {
  background-color: #00D09E;
}

.container-boarding .link-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 5px;
  color: #0E3E3E;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 20px 0 70px 0;
  background-color: #00D09E;
}

.container-signup .btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 5px;
  color: #0E3E3E;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #00D09E;
}

.container-login .btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 5px;
  color: #0E3E3E;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #00D09E;
  margin-top: 50px;
}

.container-card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.container-card .sous-card {
  width: 90%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  background-color: #00D09E;
  margin: 20px 0 30px 0;
  border-radius: 35px;
}
.container-card .sous-card .barre {
  width: 0.1em;
  height: 100px;
  background-color: white;
  margin: 0 20px 0 10px;
}
.container-card .sous-card .card-left {
  display: flex;
  flex-direction: column;
}
.container-card .sous-card .card-left .bloc-icone {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #0068FF;
  border-radius: 50px;
}
.container-card .sous-card .card-left .card-text {
  width: 70px;
  text-align: center;
}
.container-card .sous-card .card-right {
  display: flex;
  flex-direction: column;
}
.container-card .sous-card .card-right .bloc-up {
  display: flex;
  flex-direction: row;
}
.container-card .sous-card .card-right .bloc-up .monnaie-img {
  padding-right: 10px;
}
.container-card .sous-card .card-right .barre-horizontale {
  width: 180px;
  height: 0.1em;
  background-color: white;
  margin: 15px 20px 15px 0;
}
.container-card .sous-card .card-right .bloc-down {
  display: flex;
  flex-direction: row;
}
.container-card .sous-card .card-right .bloc-down .food-img {
  padding-right: 10px;
}
.container-card .card-down {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #DFF7E2;
  width: 90%;
  height: 70px;
  border-radius: 30px;
}
.container-card .card-down .sous-card-down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60px;
  margin: 10px;
  border-radius: 25px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
.container-card .card-down .green-active {
  background-color: #00D09E;
}

body {
  overflow: auto;
}
body .container-home {
  width: 100%;
  height: 100%;
  padding: 40px 0 40px 0;
  background-color: #00D09E;
  font-family: "Poppins", sans-serif;
}
body .container-home header {
  display: flex;
  justify-content: space-around;
  color: #052224;
}
body .container-home header .header-welcome .welcome-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
body .container-home header .header-welcome .welcome-text {
  font-weight: 600;
}
body .container-home header .header-notif {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFF7E2;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
body .container-home .container-enter-out {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
body .container-home .container-enter-out .container-enter .total-balance {
  display: flex;
  margin-bottom: 15px;
}
body .container-home .container-enter-out .container-enter .total-balance .enter-icone {
  width: 15px;
}
body .container-home .container-enter-out .container-enter .total-balance .enter-text {
  margin-left: 7px;
  font-size: 15px;
}
body .container-home .container-enter-out .container-enter .enter-nbr {
  font-size: 23px;
  font-weight: 600;
  color: white;
}
body .container-home .container-enter-out .container-out .total-expense {
  display: flex;
  margin-bottom: 15px;
}
body .container-home .container-enter-out .container-out .total-expense .out-icone {
  width: 15px;
}
body .container-home .container-enter-out .container-out .total-expense .out-text {
  margin-left: 7px;
  font-size: 15px;
}
body .container-home .container-enter-out .container-out .expense-nbr {
  font-size: 23px;
  font-weight: 600;
  color: #0068FF;
}
body .container-home .container-enter-out .barre {
  width: 0.1em;
  height: 60px;
  background-color: white;
}
body .container-home .container-flux-argent {
  width: 100%;
  height: 100%;
  background-color: white;
}
body .container-home .container-flux-argent .bloc-flux-argent {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
body .container-home .container-flux-argent .bloc-flux-argent .bloc-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #6DB6FE;
  border-radius: 20px;
}
body .container-home .container-flux-argent .bloc-flux-argent .bloc-icone .icone-argent {
  width: 35px;
  height: 35px;
}
body .container-home .container-flux-argent .bloc-flux-argent .bloc-text {
  font-size: 12px;
}
body .container-home .container-flux-argent .bloc-flux-argent .detail {
  font-size: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html .container-boarding, body .container-boarding {
  height: 100%;
  overflow: hidden;
  color: #0E3E3E;
  background-color: #00D09E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
html .container-boarding .content-wrapper .featured-wrapper, body .container-boarding .content-wrapper .featured-wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 70vh !important;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list, body .container-boarding .content-wrapper .featured-wrapper .featured-list {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item {
  flex: 0 0 50%;
  list-style-type: none;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .title-boarding, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .title-boarding {
  position: relative;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 40px;
  padding: 0 20px 0 20px;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .boarding-img-1, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .boarding-img-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .boarding-img-1 .img-1, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-1 .boarding-img-1 .img-1 {
  max-width: 90%;
  height: 50vh;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .title-boarding, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .title-boarding {
  position: relative;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 40px;
  padding: 0 20px 0 20px;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .boarding-img-2, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .boarding-img-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
html .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .boarding-img-2 .img-2, body .container-boarding .content-wrapper .featured-wrapper .featured-list .caroussel-item .container-boarding-2 .boarding-img-2 .img-2 {
  max-width: 90%;
  height: 50vh;
}
html .container-boarding .content-wrapper .boarding-footer, body .container-boarding .content-wrapper .boarding-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-color: white;
  box-sizing: border-box;
}
html .container-boarding .content-wrapper .boarding-footer .next-boarding, body .container-boarding .content-wrapper .boarding-footer .next-boarding {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #0E3E3E;
  border-radius: 5px;
  cursor: pointer;
}

body {
  overflow: hidden;
}
body .container-login {
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #00D09E;
}
body .container-login .title-login {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 40px;
  color: #0E3E3E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
body .container-login .form-login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0 250px 0;
}
body .container-login .form-login .label-form {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 20px 0 10px 0;
}
body .container-login .form-login .input-signup {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 8px 0 8px 20px;
  border-radius: 15px;
  border: none;
  background-color: #DFF7E2;
}
body .container-login .form-login .term {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 25px;
  padding: 0 10px 0 10px;
}
body .container-login .form-login .bloc-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
body .container-login .bloc-login {
  height: 100%;
  background-color: white;
  padding-top: 20px;
}
body .container-login .bloc-login .login {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
body .container-login .bloc-login .login .link-login {
  text-decoration: none;
  color: #00D09E;
}

body {
  overflow: hidden;
}
body .container-signup {
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #00D09E;
}
body .container-signup .title-signup {
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 40px;
  color: #0E3E3E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  padding: 0 90px 0 90px;
}
body .container-signup .form-signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-sizing: border-box;
  width: 100%;
}
body .container-signup .form-signup .label-form {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 20px 0 10px 0;
}
body .container-signup .form-signup .input-signup {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 8px 0 8px 20px;
  border-radius: 15px;
  border: none;
  background-color: #DFF7E2;
}
body .container-signup .form-signup .term {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 25px;
  padding: 0 10px 0 10px;
}
body .container-signup .form-signup .bloc-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
body .container-signup .bloc-login {
  height: 100%;
  background-color: white;
  padding-top: 20px;
}
body .container-signup .bloc-login .login {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
body .container-signup .bloc-login .login .link-login {
  text-decoration: none;
  color: #00D09E;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-launch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-launch .container-launch-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00D09E;
  transition: transform 0.5s ease-in-out;
}
.container-launch .container-launch-visible .logo-black {
  margin: 15px;
}
.container-launch .container-launch-visible .title-launch {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.container-launch .container-launch-visible.deplace-gauche {
  transform: translateX(-100%);
}
.container-launch .container-launch-identify {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  right: -100%;
  left: auto;
}
.container-launch .container-launch-identify .logo-green {
  margin: 15px;
}
.container-launch .container-launch-identify .title-launch {
  font-family: "Poppins", sans-serif;
  color: #00D09E;
  font-weight: 600;
  font-size: 40px;
}
.container-launch .container-launch-identify .text-launch {
  width: 80%;
  max-width: 600px;
  margin: 10px 0 30px 0;
  font-family: "League Spartan", sans-serif;
  text-align: center;
}
.container-launch .container-launch-identify.deplace-centre {
  transform: translateX(-100%);
}

/*# sourceMappingURL=style.css.map */
