.container-launch-identify {

    .btn-launch {

        @include btn;

    }

    .btn-signup {
        background-color: $grey;
    }

    .btn-login {
        background-color: $green;
    }
}

.container-boarding {

    .link-signup {
        @include btn;

        margin: 20px 0 70px 0;

        background-color: $green;
    }
}

.container-signup {

    .btn-signup {

        @include btn;

        background-color: $green;

    }
}

.container-login {

    .btn-login {

        @include btn;

        background-color: $green;

        margin-top: 50px;

    }
}