body {

    overflow: hidden;


    .container-home {

        width: 100%;

        height: 100%;

        padding: 40px 0 40px 0;

        background-color: $green;

        font-family: "Poppins", sans-serif;


        header {

            display: flex;
            justify-content: space-around;

            color: $dark-black;

            .header-welcome {

                .welcome-title{

                    font-weight: 700;
                    font-size: 25px;

                    margin-bottom: 10px;   
                }
                .welcome-text{
                    
                    font-weight: 600;
                }

            }

            .header-notif {

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: $grey;

                width: 35px;
                height: 35px;

                border-radius: 50px;

            }
        }

        .container-enter-out {

            margin-top: 50px;

            display: flex;
            justify-content: space-around;


            .container-enter {

                

                .total-balance {

                    display: flex;

                    margin-bottom: 15px;
                    
                    .enter-icone{
                        width: 15px;
                    }
                    .enter-text{
                        margin-left: 7px;
                    }
                }

                .enter-nbr {

                    font-size: 30px;
                    font-weight: 600;
                    color: white;
                }
            }

            .container-out {

                .total-expense {

                    display: flex;
                    
                    margin-bottom: 15px;

                    .out-icone{
                        width: 15px;
                    }
                    .out-text{
                        margin-left: 7px;
                    }
                }

                .expense-nbr {

                    font-size: 30px;
                    font-weight: 600;
                    color: $blue;
                }
            }

            .barre {
                width: 0.1em;
                height: 60px;
                background-color: white;
            }
        }

        .container-text-jauge {

            display: flex;
            justify-content: center;

            .check-icone {

                margin-right: 10px;
            }
        }
    }
}